@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --toastify-icon-color-success: #4caf50;
  /* Green for success */
  --toastify-icon-color-error: #f44336;
  /* Red for error */
}

body {
  min-height: 100vh;
  background-color: white;
}

.Toastify__toast--success {
  border: 1px solid #86EFAC !important;
  border-radius: 10px !important;
  background: #F0FDF4 !important;
  color: #171717 !important;
  /* width: 400px; */
}


.Toastify__toast--error {
  border: 1px solid #86EFAC !important;
  border-radius: 10px !important;
  background: red !important;
  color: white !important;
  /* width: 400px; */
}

.Toastify__toast-icon {
  color: var(--toastify-icon-color-success);
}

.Toastify__close-button {
  color: #555555 !important;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}